

section {
    max-width: 500px;
    margin: 5px auto;
    border-radius: 10px;
    color: aliceblue;
    background-color: brown;
}

form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}

input {
    margin-bottom: 10px;
}


button {
    margin-top: 10px;

}

body {
    transition: background-color 1s, color 1s;
}



.darkmode {
    background-color: #000;
    color: #fff;
}